---
import Layout from "../../layouts/BlogPost.astro";
import { getPostInfo, getAllPostSlugs } from "../../lib/wordpress"; 

export async function getStaticPaths() {
  const slugs = await getAllPostSlugs(); // Función para obtener todos los slugs de tus posts de WordPress
  return slugs.map((slug: any) => ({ params: { slug } }));
}

const { slug } = Astro.params;
const post = await getPostInfo(slug);

export const prerender = true;
---

<Layout
	title="Noticia"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("August 08 2021")}
	heroImage="/blog-placeholder-about.jpg"
>
<article>
	<h1>{post.title}</h1>
	<p>By {post.author.node.name} on {new Date(post.date).toLocaleDateString()}</p>
	{post.featuredImage && <img src={post.featuredImage.node.sourceUrl} alt="Featured Image" />}
	<p set:html={post.content}></p>
	
  </article>
  <a href="/">← Back to blog</a>
</Layout>
