---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Contacto"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	
<section
class="flex gap-10 justify-between items-start px-5 py-2.5 mx-auto my-0 max-w-[1120px] max-md:flex-col max-md:items-center max-md:p-5"
aria-label="Contact Section"
>
<div
  class="flex flex-col gap-10 w-[414px] max-md:w-full max-md:max-w-[636px]"
>
  <h1 class="text-3xl font-semibold leading-9 capitalize">
	Contactanos Ahora
  </h1>

  <p class="p-2.5 text-base leading-6 text-neutral-600">
	Estamos aquí para ayudarte. Ponte en contacto con nuestro equipo para más
	información sobre nuestra revista, colaboraciones, publicidad o cualquier
	otra consulta que tengas.
  </p>

  <address class="flex flex-col gap-2 not-italic">
	<a
	  href="mailto:caskabel_info@gmail.com"
	  class="text-base leading-6 text-neutral-600 hover:text-yellow-400"
	>
	  caskabel_info@gmail.com
	</a>
	<a
	  href="tel:+593998578989"
	  class="text-base leading-6 text-neutral-600 hover:text-yellow-400"
	>
	  +593 998578989
	</a>
	<p class="text-base leading-6 text-neutral-600">
	  Alborada Decima Etapa 101101
	</p>
  </address>

  <nav class="flex flex-col gap-1.5" aria-label="Social Media Links">
	<h2 class="px-0 py-2.5 text-base font-medium leading-6 text-neutral-800">
	  Siguenos en:
	</h2>
	<div class="flex gap-5 items-center">
	  <a href="#twitter" aria-label="Twitter" class="hover:opacity-80">
		<svg
		  width="24"
		  height="24"
		  viewBox="0 0 24 24"
		  fill="none"
		  xmlns="http://www.w3.org/2000/svg"
		  class="social-icon twitter"
		>
		  <rect width="24" height="24" rx="4" fill="#FFCC00"></rect>
		  <path
			d="M18 9.13641C17.5584 9.32841 17.0844 9.46041 16.5864 9.51801C17.0952 9.21801 17.484 8.74281 17.6688 8.17761C17.184 8.46017 16.6549 8.65896 16.104 8.76561C15.8723 8.5227 15.5935 8.32954 15.2846 8.19791C14.9758 8.06629 14.6433 7.99895 14.3076 8.00001C12.948 8.00001 11.8464 9.08601 11.8464 10.424C11.8464 10.6136 11.868 10.7984 11.91 10.976C10.9348 10.9297 9.97994 10.6806 9.10638 10.2447C8.23281 9.80871 7.45971 9.19545 6.8364 8.44401C6.61748 8.81253 6.50221 9.23337 6.5028 9.66201C6.5028 10.502 6.9384 11.246 7.5984 11.6792C7.20773 11.667 6.82543 11.563 6.4824 11.3756V11.4056C6.48611 11.969 6.68496 12.5136 7.0451 12.9468C7.40524 13.3801 7.9044 13.6751 8.4576 13.7816C8.09443 13.8776 7.71443 13.8916 7.3452 13.8224C7.50615 14.3071 7.81401 14.7296 8.22603 15.0313C8.63805 15.333 9.13378 15.4989 9.6444 15.506C8.76836 16.1811 7.69277 16.5458 6.5868 16.5428C6.3888 16.5428 6.1932 16.5308 6 16.5092C7.12857 17.2236 8.43716 17.6019 9.7728 17.6C14.3016 17.6 16.7772 13.9064 16.7772 10.7024L16.7688 10.388C17.2516 10.0487 17.6687 9.62467 18 9.13641Z"
			fill="white"
		  ></path>
		</svg>
	  </a>

	  <a href="#facebook" aria-label="Facebook" class="hover:opacity-80">
		<svg
		  width="24"
		  height="24"
		  viewBox="0 0 24 24"
		  fill="none"
		  xmlns="http://www.w3.org/2000/svg"
		  class="social-icon facebook"
		>
		  <rect
			x="0.6"
			y="0.6"
			width="22.8"
			height="22.8"
			rx="3.4"
			stroke="#777777"
			stroke-width="1.2"
		  ></rect>
		  <path
			d="M10.0722 19H12.5403V12.6125H14.6041L14.9158 10.1275H12.5403V8.535C12.5403 7.8175 12.7341 7.3275 13.728 7.3275H15V5.09625C14.781 5.07 14.0313 5 13.1552 5C11.3189 5 10.0722 6.16375 10.0722 8.29V10.1275H8V12.6125H10.0722V19Z"
			fill="#777777"
		  ></path>
		</svg>
	  </a>

	  <a href="#pinterest" aria-label="Pinterest" class="hover:opacity-80">
		<svg
		  width="24"
		  height="24"
		  viewBox="0 0 24 24"
		  fill="none"
		  xmlns="http://www.w3.org/2000/svg"
		  class="social-icon pinterest"
		>
		  <rect
			x="0.6"
			y="0.6"
			width="22.8"
			height="22.8"
			rx="3.4"
			stroke="#777777"
			stroke-width="1.2"
		  ></rect>
		  <path
			d="M11.9761 5C10.3477 5.01105 8.7737 5.58563 7.52344 6.62546C6.27318 7.66528 5.42431 9.10572 5.12206 10.7004C4.81981 12.295 5.08295 13.9448 5.86647 15.3675C6.64999 16.7901 7.9052 17.8973 9.41738 18.4995C9.31575 17.8367 9.31575 17.1624 9.41738 16.4996L10.2452 12.9997C10.1142 12.6827 10.0493 12.3425 10.0545 11.9997C10.0545 11.0298 10.6215 10.2998 11.3239 10.2998C11.4511 10.2979 11.5773 10.3234 11.6937 10.3746C11.8101 10.4258 11.9141 10.5015 11.9984 10.5965C12.0827 10.6914 12.1455 10.8035 12.1823 10.9249C12.2192 11.0462 12.2293 11.1741 12.2119 11.2998C12.2119 11.8997 11.8306 12.7997 11.6299 13.6297C11.5867 13.7845 11.5816 13.9473 11.6149 14.1045C11.6483 14.2617 11.7192 14.4085 11.8215 14.5326C11.9239 14.6567 12.0548 14.7544 12.2031 14.8174C12.3514 14.8804 12.5127 14.9069 12.6735 14.8946C13.9177 14.8946 14.881 13.5797 14.881 11.6897C14.8935 11.3057 14.8255 10.9233 14.6815 10.5669C14.5374 10.2105 14.3203 9.88788 14.0442 9.61973C13.768 9.35158 13.4388 9.14374 13.0775 9.00946C12.7163 8.87518 12.3309 8.81742 11.946 8.83985C11.535 8.82226 11.1248 8.88796 10.74 9.03296C10.3553 9.17796 10.0041 9.39925 9.70767 9.68344C9.41124 9.96763 9.17576 10.3088 9.01548 10.6863C8.8552 11.0638 8.77346 11.4698 8.77519 11.8797C8.76961 12.4508 8.94521 13.009 9.2769 13.4747C9.30102 13.5014 9.3182 13.5336 9.32695 13.5685C9.33569 13.6033 9.33574 13.6398 9.32707 13.6747C9.27188 13.8947 9.15147 14.3746 9.13141 14.4696C9.11134 14.5646 9.02605 14.6246 8.8956 14.5646C8.01761 14.1547 7.47075 12.8797 7.47075 11.8497C7.47075 9.64482 9.08124 7.6149 12.1116 7.6149C14.5448 7.6149 16.4413 9.34483 16.4413 11.6597C16.4413 14.0697 14.9362 16.0096 12.7939 16.0096C12.4798 16.0205 12.168 15.953 11.8867 15.8133C11.6055 15.6736 11.3637 15.4661 11.1834 15.2096L10.7469 16.8745C10.5377 17.5216 10.2442 18.1385 9.87393 18.7095C10.5561 18.9104 11.2648 19.0082 11.9761 18.9995C13.8389 18.9995 15.6255 18.262 16.9427 16.9493C18.26 15.6366 19 13.8562 19 11.9997C19 10.1433 18.26 8.36288 16.9427 7.05017C15.6255 5.73747 13.8389 5 11.9761 5Z"
			fill="#777777"
		  ></path>
		</svg>
	  </a>

	  <a href="#instagram" aria-label="Instagram" class="hover:opacity-80">
		<svg
		  width="24"
		  height="24"
		  viewBox="0 0 24 24"
		  fill="none"
		  xmlns="http://www.w3.org/2000/svg"
		  class="social-icon instagram"
		>
		  <rect
			x="0.6"
			y="0.6"
			width="22.8"
			height="22.8"
			rx="3.4"
			stroke="#777777"
			stroke-width="1.2"
		  ></rect>
		  <path
			d="M18.9549 9.12733C18.9471 8.53852 18.8368 7.95557 18.6292 7.40454C18.4491 6.93975 18.174 6.51764 17.8215 6.16518C17.4691 5.81272 17.047 5.53765 16.5822 5.35756C16.0382 5.15337 15.4636 5.04297 14.8827 5.03104C14.1348 4.99761 13.8977 4.98828 11.9992 4.98828C10.1007 4.98828 9.8574 4.98828 9.11495 5.03104C8.53433 5.04305 7.95996 5.15346 7.41626 5.35756C6.9514 5.53753 6.52923 5.81255 6.17675 6.16503C5.82427 6.51751 5.54925 6.93968 5.36928 7.40454C5.16468 7.94807 5.05452 8.52257 5.04354 9.10323C5.01011 9.8519 5 10.089 5 11.9875C5 13.886 5 14.1286 5.04354 14.8718C5.0552 15.4533 5.16482 16.027 5.36928 16.572C5.54955 17.0367 5.82477 17.4587 6.17737 17.8111C6.52997 18.1634 6.95218 18.4383 7.41704 18.6182C7.95924 18.8306 8.53372 18.9489 9.11573 18.9681C9.86439 19.0015 10.1015 19.0116 12 19.0116C13.8985 19.0116 14.1418 19.0116 14.8843 18.9681C15.4651 18.9566 16.0398 18.8465 16.5837 18.6423C17.0484 18.462 17.4704 18.1869 17.8228 17.8344C18.1753 17.482 18.4504 17.06 18.6307 16.5953C18.8352 16.0511 18.9448 15.4774 18.9565 14.8951C18.9899 14.1472 19 13.9101 19 12.0108C18.9984 10.1123 18.9984 9.87133 18.9549 9.12733ZM11.9946 15.5777C10.009 15.5777 8.40049 13.9692 8.40049 11.9836C8.40049 9.99805 10.009 8.38955 11.9946 8.38955C12.9478 8.38955 13.8619 8.76821 14.5359 9.44223C15.21 10.1162 15.5886 11.0304 15.5886 11.9836C15.5886 12.9368 15.21 13.851 14.5359 14.525C13.8619 15.199 12.9478 15.5777 11.9946 15.5777ZM15.7317 9.09468C15.6216 9.09478 15.5126 9.07317 15.4108 9.03109C15.3091 8.98901 15.2167 8.92728 15.1388 8.84944C15.061 8.7716 14.9993 8.67917 14.9572 8.57744C14.9151 8.47572 14.8935 8.36669 14.8936 8.25661C14.8936 8.1466 14.9153 8.03767 14.9574 7.93604C14.9995 7.83441 15.0612 7.74206 15.139 7.66427C15.2167 7.58649 15.3091 7.52479 15.4107 7.48269C15.5124 7.44059 15.6213 7.41892 15.7313 7.41892C15.8413 7.41892 15.9502 7.44059 16.0519 7.48269C16.1535 7.52479 16.2458 7.58649 16.3236 7.66427C16.4014 7.74206 16.4631 7.83441 16.5052 7.93604C16.5473 8.03767 16.569 8.1466 16.569 8.25661C16.569 8.71996 16.1942 9.09468 15.7317 9.09468Z"
			fill="#777777"
		  ></path>
		  <path
			d="M11.9948 14.3187C13.2842 14.3187 14.3294 13.2734 14.3294 11.984C14.3294 10.6947 13.2842 9.64941 11.9948 9.64941C10.7054 9.64941 9.66016 10.6947 9.66016 11.984C9.66016 13.2734 10.7054 14.3187 11.9948 14.3187Z"
			fill="#777777"
		  ></path>
		</svg>
	  </a>
	</div>
  </nav>
</div>

<form
  class="flex flex-col gap-4 w-[636px] max-md:w-full max-md:max-w-[636px]"
  aria-label="Contact Form"
>
  <div class="flex gap-6 w-full max-sm:flex-col max-sm:gap-4">
	<div class="relative">
	  <input
		type="text"
		placeholder="Nombre"
		aria-label="Nombre"
		required
		class="p-4 text-base rounded-md border border-orange-200 border-solid h-[45px] text-neutral-400 w-[306px] max-sm:w-full focus:outline-none focus:border-yellow-400 focus:ring-1 focus:ring-yellow-400"
	  />
	</div>
	<div class="relative">
	  <input
		type="email"
		placeholder="Email"
		aria-label="Email"
		required
		class="p-4 text-base rounded-md border border-orange-200 border-solid h-[45px] text-neutral-400 w-[306px] max-sm:w-full focus:outline-none focus:border-yellow-400 focus:ring-1 focus:ring-yellow-400"
	  />
	</div>
  </div>

  <div class="relative">
	<input
	  type="text"
	  placeholder="Tema"
	  aria-label="Tema"
	  required
	  class="p-4 w-full text-base rounded-md border border-orange-200 border-solid h-[45px] text-neutral-400 max-sm:w-full focus:outline-none focus:border-yellow-400 focus:ring-1 focus:ring-yellow-400"
	/>
  </div>

  <div class="relative">
	<textarea
	  placeholder="Mensaje"
	  aria-label="Mensaje"
	  required
	  class="p-4 w-full text-base rounded-md border border-orange-200 border-solid min-h-[120px] text-neutral-400 max-sm:w-full focus:outline-none focus:border-yellow-400 focus:ring-1 focus:ring-yellow-400 resize-y"
	></textarea>
  </div>

  <button
	type="submit"
	class="px-7 py-4 text-base leading-4 text-white bg-yellow-400 rounded-md cursor-pointer border-[none] h-[45px] w-[163px] max-sm:w-full hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:ring-offset-2"
  >
	Enviar Mensaje
  </button>
</form>
</section>

</Layout>
