---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Icon } from "astro-icon/components";
---

<header class="flex justify-center bg-yellow-50">
	<nav
		class="flex flex-wrap gap-10 items-center py-3 max-md:px-5 w-full max-w-7xl"
		aria-label="Main navigation"
	>
		<div
			class="flex grow shrink gap-10 items-center self-stretch my-auto min-w-60 w-[287px]"
		>
			<a href="/" class="self-stretch my-auto w-[146px]">
				<img
					src="https://cdn.builder.io/api/v1/image/assets/TEMP/99bf6209d5fe1b613136769dbce45c60cd4cf601?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472"
					alt="Logo"
					class="object-contain aspect-[3.04] w-[146px]"
				/>
			</a>
			<a href="/vivo">
				<button
					class="gap-2.5 self-stretch p-2.5 my-auto text-base font-bold leading-none text-yellow-800 bg-yellow-400 rounded-xl hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-yellow-600"
				>
					EN VIVO
				</button>
			</a>
		</div>

		<div
			class="flex flex-wrap gap-10 items-center self-stretch my-auto min-w-60 max-md:max-w-full"
		>
			<a
				href="/"
				class="gap-2 self-stretch my-auto text-base leading-none whitespace-nowrap hover:font-semibold"
			>
				Portada
			</a>

			<a
				href="/nosotros"
				class="gap-2 self-stretch my-auto text-base leading-none whitespace-nowrap hover:font-semibold"
			>
				Nosotros
			</a>

			<a
				href="/contacto"
				class="gap-2 self-stretch my-auto text-base leading-none whitespace-nowrap hover:font-semibold"
			>
				Contacto
			</a>

			<a
				href="/revista"
				class="gap-2 self-stretch my-auto text-base leading-none whitespace-nowrap hover:font-semibold"
			>
				Revista
			</a>

			<a
				href="/contacto"
				class="flex items-center self-stretch my-auto group"
			>
				<span
					class="gap-2 self-stretch my-auto text-base leading-none whitespace-nowrap hover:font-semibold pr-1"
				>
					Contacto
				</span>
				<span
					class="flex gap-2 items-center self-stretch my-auto w-[13px]"
				>
					<img
						src="https://cdn.builder.io/api/v1/image/assets/TEMP/b4da6eae7cf3689e45653175124fde3ed4265a20?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472"
						alt=""
						class="object-contain self-stretch my-auto aspect-square w-[13px]"
						aria-hidden="true"
					/>
				</span>
			</a>
			<!-- BOTON PARA CAMBIA TEMA CLARO A OSCURO -->
			<!-- <div
				class="flex relative gap-1 items-start self-stretch my-auto min-h-[41px] w-[70px]"
			>
				<button
					class="w-full h-full absolute inset-0 focus:outline-none focus:ring-2 focus:ring-yellow-600"
					aria-label="Toggle theme"
				>
					<div
						class="absolute right-0 bottom-0 z-0 py-2.5 pr-2.5 w-[70px]"
					>
						<img
							src="https://cdn.builder.io/api/v1/image/assets/TEMP/4c415818825fa9fc744456c6ed13a3ef9145ffa5?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472"
							alt=""
							class="object-contain rounded aspect-[2.86] w-[60px]"
							aria-hidden="true"
						/>
					</div>
					<div
						class="flex z-0 flex-col justify-center self-stretch p-2.5 my-auto w-[45px]"
					>
						<div
							class="flex w-full bg-yellow-400 rounded border border-yellow-400 border-solid min-h-[21px]"
						>
						</div>
					</div>
				</button>
			</div> -->
		</div>
	</nav>
</header>
